.page {
    box-sizing: border-box;
    padding: 0;
    max-width: 880px;
    margin: 30px auto 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    display: flex;
    column-gap: 5%;
    justify-content: center;
}